@import "tailwindcss";

:root {
  --font-unbounded: "Unbounded", sans-serif;
  --font-inter: "Inter", sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-inter), sans-serif;
  color: #111111;
}
